#supperContainer{
	height: 100%;
	position: relative;
}

.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}
h1{
	font-size: 5em;	
	font-family: arial,helvetica;
}
.section{
	text-align:center;
}

#menu {
	position: fixed;
	top: 0;
	left: 0;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin: 0;
}

#menu li.active {
	background: #666;
	background: rgba(0,0,0, 0.5);
	color: #fff;
}
#menu li {
	display: inline-block;
	margin: 10px;
	color: #000;
	background: #fff;
	background: rgba(255,255,255, 0.5);
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

#menu li.active a {
color: #fff;
}
#menu li a, #menu li.active a {
padding: 9px 18px;
display: block;
}
#menu li a, #menu li.active a {
padding: 9px 18px;
display: block;
}
#menu li a {
text-decoration: none;
color: #000;
}